.col {
    border: black 2px solid;
    font-weight: bold;
    min-height: 100px;
}
.col:nth-child(4n-2){
    background-color: green;
    color: white
}
.col:nth-child(4n-1){
    background-color: red;
    color: white
}
.col:nth-child(4n){
    background-color: blue;
    color: white
}