.col {
    border: black 2px solid;
    font-weight: bold;
    min-height: 100px;
}
.col:nth-child(4n-2){
    background-color: #009C3B;
    color: white;
}
.col:nth-child(4n-1){
    background-color: #FFDF00;
    color: black;
}
.col:nth-child(4n){
    background-color: #002776;
    color: white;
}